/* Override Bootstrap styles here */

body {
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

a:link, a:visited, a:hover, a:active {
  color: blue;
}

nav {
  margin-bottom: 40px;
}

input {
  box-sizing: border-box;
  width: 300px;
  height: 36px;
  margin: 10px 0;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 48px;
  border: 1px solid $form_elements_border_color;
}

.content {
  width: 980px;
  margin: 0 auto;
  padding: 40px 0;
}

#recipe-search {
  width: 100%;
  margin-bottom: 40px;
}

#recipe-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.recipe-item {
  border: 1px solid lightgray;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding: 20px;
  height: 150px;
  margin-bottom: 15px;
}
.recipe-item--image {
  height: 150px;
  min-width: 150px;
  border-radius: 10px;
  overflow: hidden;
}
.recipe-item img {
  height: 100%;
  width: auto;
}
.recipe-item--details {
  flex-grow: 1;
  padding: 15px 30px;
  font-size: 36px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recipe-item--details a {
  text-decoration: none;
  color: black;
}
.recipe-item--actions {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.recipe-item--actions svg {
  height: 40px;
  width: 40px;
}
