<nav>
  <a href="/recipes">recipes</a>
  <span>|</span>
  <a href="/labels">labels</a>
  <span>|</span>
  <a href="/account">account</a>
  <span>|</span>
  <a href="/logout">logout <%= @user.name %></a>
</nav>
